:root {
  --chat-bar-height: 2.5rem;
}

main {
  position: relative;
  min-height: 100vh;
}

main > div{
  padding-bottom: var(--chat-bar-height);
}

#messages {
  display: flex;
  flex-direction: column;
}

.message {
  display: inline-flex;
  width: 100%;
}

#chat-bar {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: var(--chat-bar-height);
}
