:root {
  --chat-bar-height: 2.5rem;
}

body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

main > div{
  padding-bottom: var(--chat-bar-height);
}

#messages {
  display: flex;
  flex-direction: column;
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bd-highlight {
  background-color: rgba(86,61,124,0.15);
  border: 1px solid rgba(86,61,124,0.15);
}

.message {
  max-height: 70%;
}

.message > .text {
  overflow: hidden;
}


.message > .nameAndIcon {
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}

.message > .nameAndIcon > .user {
  min-width: 15%;
  width: 15%;
}

.message > .nameAndIcon > .user.initials {
  display: none;
}

.message > .nameAndIcon > .user-icon {
  border-radius: 30px;
  display: block;
}

@media (max-width: 300px) {

  .message > .nameAndIcon > .user {
    display: none;
  }

  .message > .nameAndIcon > .user-icon {
    margin: auto;
  }
}

.message > .time-since {
  min-width: 180px;
}

@media (max-width: 992px) {
  .message > .time-since {
    display: none;
  }
  .message > .nameAndIcon {
    width: 30%;
  }

  .message > .nameAndIcon > .user.initials {
    display: block;
  }

  .message > .nameAndIcon > .user.fullname {
    display: none;
  }
}

@media (max-width: 515px) {
  .message > .nameAndIcon > .user-icon {
    width: 50px;
    border-radius: 10px;
  }
}

@media (max-width: 200px) {
  .message > .nameAndIcon > .user-icon {
    display: none;
  }

  .message > .nameAndIcon > .user {
    display: block;
  }
}

#chat-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--chat-bar-height);
  background-color: white;
}
