:root {
  --chat-bar-height: 2.5rem;
}

body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

main > div{
  padding-bottom: var(--chat-bar-height);
}

#messages {
  display: flex;
  flex-direction: column;
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bd-highlight {
  background-color: rgba(86,61,124,0.15);
  border: 1px solid rgba(86,61,124,0.15);
}

.message {
  max-height: 70%;
}

.message > .text {
  overflow: hidden;
}


.message > .user {
  background-color: #d3dce8;
  display: flex;
  min-width: 15%;
  width: 15%;
}

.message > .user > .user-text {
  margin: auto;
}

.message > .user-icon-container {
  min-width: 10%;
  width: 10%;
  max-width: 120px;
  display: flex;
}

.message > .user-icon-container > .user-icon {
  border-radius: 50%;
  width: 100%;
  display: block;
  margin: auto;
}

@media (min-width: 992px) {
  .message > .user-icon-container {
    padding: 15px;
  }

  .message > .user-icon-container > .user-icon {
    width: 70%;
  }
}

.message > .time-since {
  min-width: 180px;
}

#chat-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--chat-bar-height);
  background-color: white;
}
