section#content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article#header-description {
    text-align: center;
    padding: 15px;
    width: 80%;
    margin: 15px 0;
    background: linear-gradient(183.25deg, #EBF1A8 -20.57%, rgba(255, 255, 255, 0) 97.31%), linear-gradient(134.3deg, #73C8A9 39.17%, rgba(255, 255, 255, 0) 91.95%), rgba(65, 85, 129, 0.78);
    border-radius: 10px;
    color: #363636;
}

article#header-description > *{
    margin: 30px 0;
}

article.images {
    display: flex;
    justify-content: space-evenly;
}

article.images > figure {
    text-align: center;
    width: 30%;
}

article.images > figure > img {
    width: 80%;
}

#open-source-icon {
    cursor: pointer;
    width: 30%;
}

#open-source-icon > img {
    width: 100%;
}

#open-source-icon:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    article.images > figure {
        width: 50%;
    }

    #open-source-icon {
        width: 50%;
    }
    
    #open-source-icon:hover {
        text-decoration: none;
    }
}

#logo {
    max-width: 70%;
    margin: 15px auto;
}

.indexButtonSection {
    margin-bottom: 15px;
}

#groupsNloginBTNs {
    width: 100%;
}

#pageButtons {
    width: 50%;
}

@media (max-width: 700px) {
    .indexButtonSection, #indexBottomSignInBtn {
        width: 80%;
    }
}