section#content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#content > * {
    margin: 50px;
}

article#header-description {
    text-align: center;
    padding: 15px;
    width: 80%;
    margin: 15px 0;
    background: linear-gradient(183.25deg, #EBF1A8 -20.57%, rgba(255, 255, 255, 0) 97.31%), linear-gradient(134.3deg, #73C8A9 39.17%, rgba(255, 255, 255, 0) 91.95%), rgba(65, 85, 129, 0.78);
    border-radius: 10px;
    color: #363636;
}

article#header-description > *{
    margin: 30px 0;
}

#images {
    display: flex;
    justify-content: space-evenly;
}

#images > figure {
    text-align:center;
    
    /* margin: 0 5%; */
    width: 30%;
}

#images > figure > img {
    width: 80%;
}
#groupsNloginBTNs {
    width: 60%;
}

@media (max-width: 700px) {
    .bottomBTNs {
        width: 80%;
    }
}