.list-of-groups > a:hover {
    text-decoration: underline;
}

.list-of-groups {
    opacity: 0.8;
}

@media (min-width: 600px) {
    .list-of-groups {
        max-width: 300px;
    }
}

@media (max-width: 599px) {
    .groups {
        text-align: center;
    }
}