<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatre</title>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <%- include('../partials/nav'); -%>
    <section id="content">
        <article id="header-description">
            <h1><b>CHATRE<br></h1>
            <h3>The best open source chat app</h3>
            <p>Chatre is better because it just works. With a simple and minimalistic ui, you can easily chat with friends.</p>
        </article>
        <article id="images">
            <figure>
                <img src="/public/img/svg/messages.svg" alt="Collaboration">
                <figcaption>Simple UI</figcaption>
            </figure>
            <figure>
                <img src="/public/img/svg/team-chat.svg" alt="Collaboration">
                <figcaption>Easy Collaboration</figcaption>
            </figure>
        </article>
        <article hidden id="authButtons" class="indexButtonSection whenSignedOut">
            <img
                src="/public/img/google_signin_buttons/2x/btn_google_signin_light_normal_web@2x.png"
                alt="Sign In With Google"
                class="signInBtn"
                id="bottomSignInBTN"
                style="cursor: pointer"
            />
        </article>
        <article hidden id="pageButtons" class="indexButtonSection whenSignedIn">
    
        </article>
    </section>
</body>
</html>