<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatre</title>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <%- include('../partials/nav'); -%>
    <section id="content">
        <article id="header-description">
            <h1><b>CHATRE</b></h1>
            <h3>The best open source chat app</h3>
            <p>Chatre is better because it just works. With a simple and a minimalistic ui, you can easily chat with friends.</p>
        </article>
        <article id="images">
            <figure>
                <img loading="lazy" src="/public/img/svg/simple-interface.svg" alt="Collaboration">
                <figcaption>Simple Interface</figcaption>
            </figure>
            <figure>
                <img loading="lazy" src="/public/img/svg/team-chat.svg" alt="Collaboration">
                <figcaption>Easy Collaboration</figcaption>
            </figure>
        </article>

        <img id="logo" src="/public/logo/big.svg" alt="Chatre Logo">

        <article hidden id="authButtons" class="indexButtonSection whenSignedOut">
            <img
                src="/public/img/google_signin_buttons/2x/btn_google_signin_light_normal_web@2x.png"
                alt="Sign In With Google"
                class="bottomBTNs signInBtn"
                style="cursor: pointer"
                id="indexBottomSignInBtn"
            />
        </article>
        <article hidden id="pageButtons" class="indexButtonSection whenSignedIn">
            
            <div id="groupsNloginBTNs" class="btn-group bottomBTNs" role="group" aria-label="Basic example">
                <a href="/groups" class="btn btn-primary">Groups</a>
                <button type="button" class="btn btn-danger signOutBtn">Log Out</button>
              </div>
        </article>
    </section>
</body>
</html>